<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Cadastrar</title>
    <link rel="stylesheet" href="./login.css">
    <!-- build:css styles/main.css -->
    <link rel="stylesheet" href="../../styles/main.css">

</head>
<body>

    <div class="container center-vh">
        <div class="row">
            <div class="col-sm-6 col-sm-offset-3">
                <div class="thumbnail">
                    <div class="avatarIcon">
                        <p class="glyphicon glyphicon-copy" aria-hidden="true"></p>
                    </div>
                    <h2 class="text-center">Criar conta</h2>
                    <div class="caption">
                        <form>
                            <div class="form-group">
                                <label for="exampleInputEmail1">Nome</label>
                                <input type="text" class="form-control" id="nomeConta" placeholder="Digite o seu Nome">
                            </div>                            
                            <div class="form-group">
                                <label for="exampleInputEmail1">Endereço de E-mail</label>
                                 <input type="email" class="form-control" id="emailConta" placeholder="Digite o seu Email">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputPassword1">Senha</label>
                                <input type="password" class="form-control" id="senha1" placeholder="Digite a sua senha">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputPassword1">Repita a senha</label>
                                <input type="password" class="form-control" id="senha2" placeholder="Repita a sua senha">
                            </div>   
                            <div class="form-buttons row">
                              <div class="col-sm-6">
                                <a href="./login.html" class="btn btn-danger btn-block ">Voltar</a>
                              </div>
                              <div class="col-sm-6">
                                  <button type="submit" class="btn btn-primary btn-block " disabled>Criar</button>
                                </div>
                            </div>                         
                        </form>                 
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
